*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.container__game{
    text-align: center;
    margin: 30px 0 0 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    
    .board__game{
        border: 2px solid black;
    }
    .score__text{
        font-size: 5rem;
        margin: 10px 0;
    }
    .btn__reset{
        font-size: 2rem;
        padding: 5px 20px;
        border-radius: 20px;
        cursor: pointer;
    }
}